{% extends '../homepage/base.html' %}
{% block content %}
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
                        <div class="screen"></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>Fight against Blood Shortages</h1>
                    <p>BloodShare brings you close to Blood Donors and puts you in contact with the people in need. Help save lives!</p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-apple"></i> Coming on the App Store</a><a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-google"></i> Coming on Google Play</a>
                        <a
                        class="btn btn-success btn-lg" role="button" href="{% url 'register' %}" style="background-color:rgb(182,49,40);">REGISTER NOW!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">Join in the Fight!</h2>
        <blockquote>
            <p>Register today as a blood donor and receive notifications about blood shortages or urgent blood requests</p>
            <footer>Famous tech website</footer>
        </blockquote>
    </section>
    <section class="features" style="background-color:rgb(153,57,51);">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Registered? Great! Extend the fight!</h2>
                    <p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-cloud"></i>
                            <p>Share this Website</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                            <p>Donate to the Project</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-fire"></i>
                            <p>Get registed at the Red Cross</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
