{% extends '../homepage/base.html' %}
{% block content %}
    <div class="article-list" style="background-color:transparent;">
        <div class="container" style="background-color:#ffffff;">
            <div class="intro">
                <h2 class="text-center">Latest Blood Requests</h2>
                <p class="text-center">Click on the Arrow to contact and donate</p>
            </div>
            <div class="row articles">
              {% for alert in alerts %}
                <div class="col-md-4 col-sm-6 item" style="height:100px;">
                    <a href="#"></a>
                    <h3 class="name">{{ alert.get_blood_type_display }} blood needed</h3>
                    <p class="description">by {{ alert.name }} in {{ alert.location }}. Please call at {{ alert.phone }} <br /> posted on {{ alert.date_time_posted }} </p>
                    <a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i>Click for more details</a></div>
              {% endfor %}
            </div>
        </div>
{% endblock %}
