{% extends '../homepage/base.html' %}
{% block content %}
    <div class="login-clean" style="background-color:rgb(34,34,34);">
        <form method="post", action='{% url 'login' %}'>
            <h2 class="sr-only">Login</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" style="background-color:#993933;">Login</button>
            </div>
        </form>
    </div>

{% endblock %}
